@model OneRepMaxCalculatorFormModel

@{
    ViewData["Title"] = "Calculator";
    ViewData["Title2"] = "Estimated 1RM";
    int percentage = 50;
    int count = 0;
}

@if (Model.OneRepMax > 0)
{
    <h1 class="text-center">@ViewData["Title2"]</h1>
    <hr />
}
else
{
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr />
}


@if (Model.OneRepMax > 0)
{
    <div class="text-center">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <label asp-for="OneRepMax">
                @if (Model.MeassurmentId == 1)
                {
                    <font size="8">
                        <div class="text-center">
                            @($"1RM - {Model.OneRepMax:f1} kgs.")
                        </div>
                        <hr />
                        @foreach (double weight in Model.OneRepMaxPercentages)
                        {
                            <div class="text-center">
                                @($"{percentage}% of 1RM - {weight:f1} kgs.")
                            </div>
                            count++;
                            if (count < 4)
                            {
                                percentage += 10;
                            }
                            else
                            {
                                percentage += 5;
                            }
                        }
                    </font>
                    <hr />
                }
                else
                {
                    <font size="8">
                        <div class="text-center">
                            @($"1RM - {Model.OneRepMax:f1} lbs.")
                        </div>
                        @foreach (double weight in Model.OneRepMaxPercentages)
                        {
                            <div class="text-center">
                                @($"{percentage}% of 1RM - {weight:f1} lbs.")
                            </div>
                            count++;
                            if (count < 4)
                            {
                                percentage += 10;
                            }
                            else
                            {
                                percentage += 5;
                            }
                        }
                    </font>
                }
            </label>
        </div>
    </div>
    <hr />
}
else
{
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Weight">Enter weight below</label>
                    <input asp-for="Weight" class="form-control" placeholder="Weight...">
                    <span asp-validation-for="Weight" class="small text-danger"></span>      
               </div>
                <div class="form-group">
                       <label asp-for="Reps">Enter reps below</label>
                       <input asp-for="Reps" class="form-control" placeholder="Reps...">
                       <span asp-validation-for="Reps" class="small text-danger"></span>
               </div>
               <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Submit" />
               </div>
                <div class="form-group">
                    <label asp-for="MeassurmentId"></label>
                    <select asp-for="MeassurmentId" class="form-control">
                        @foreach (var meassurment in Model.Meassurments)
                        {
                                <option value="@meassurment.Id">@meassurment.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MeassurmentId" class="small text-danger"></span>
                </div>
            </form>
        </div>
    </div>
}




