@model AllCoachesViewModel

<tr>
	<td><label>@Model.FirstName</label></td>
	<td><label>@Model.LastName</label></td>
	<td><label>@Model.CertificateName</label></td>
	<td><label>@Model.Email</label></td>
	<td><label>@Model.Phone</label></td>
	<td><label>@Model.WorkoutCount</label></td>
</tr>
@*<div class="col-md-4">
	<div class="card mb-3">
		<div class="card-body text-center">

			<b>
				Name: @Model.FirstName @Model.LastName
			</b>
			<br />

			<b>
				Certification: @Model.CertificateName
			</b>
			<br />

			<b>
				Total workouts: @Model.WorkoutCount
			</b>
			<br />

			<b>
				Email: @Model.Email
			</b>
			<br />

			<b>
				Phone: @Model.Phone
			</b>

		</div>
	</div>
</div>*@