@using LiftingDome.Infrastructure.Extensions;
@using LiftingDome.Services.Data.Interfaces;
@model AllForumPostViewModel
@inject ICoachService CoachService
@inject IForumChatService ForumChatService
@inject IUserService UserService

@{
	bool IsOwner = await ForumChatService.IsUserOwnerOfPostWithIdAsync(this.User.GetId()!, Model.Id);
	//string fullName = 
	bool isUserCoach = await CoachService.CoachExistsByUserIdAsync(Model.CreatorId);
}

<div class="col-md-4">
	<div class="card mb-3">
		<div class="card-body text-center">
		@switch (Model.CategoryName.ToLower())
		{
			case "crossfit":
					<p class="text-center text-white" style="background-color:#bfbfbe; margin:0; padding:5px">@Model.CategoryName</p>
				break;
			case "bodybuilding":
					<p class="text-center text-white" style="background-color:#9f9f9e; margin:0; padding:5px">@Model.CategoryName</p>
				break;
			case "powerlifting":
					<p class="text-center text-white" style="background-color:#6f706f; margin:0; padding:5px">@Model.CategoryName</p>
				break;
			case "general":
					<p class="text-center text-white" style="background-color:black; margin:0; padding:5px">@Model.CategoryName</p>
				break;
			default:
				break;
		}
			@if (Model.TaggedUser != null)
			{
				<b>
					Replying to: @Model.TaggedUser
				</b>
			}

			<h5>@Model.Text</h5>

			@if (IsOwner)
			{
				<b>Created By: <span style="color:red">You</span></b>
			}
			else
			{
				if (!isUserCoach)
				{
					<b>Created By: @Model.CreatorEmail</b>
				}
				else
				{
					<b>Created By: @await CoachService.GetCoachNameBYCoachEmailAsync(Model.CreatorEmail)</b>
				}
			}

			@if (await CoachService.CoachExistsByUserIdAsync(Model.CreatorId))
			{
				if (!IsOwner)
				{
					<label>(<span style="color:red">Coach</span>)</label>
				}
			}
			else
			{
				<label>(<span style="color:red">Trainee</span>)</label>
			}

			@if (Model.HasBeenEdited)
			{
				<p>(Edited On: @Model.CreatedOn)</p>
			}
			else
			{
				<p>(Created On: @Model.CreatedOn)</p>
			}

			@if (IsOwner)
			{
				<div class="text-center" style="float:none">
					<a asp-controller="Forum" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Edit</a>
					<a asp-controller="Forum" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
				</div>
			}
		 </div>
	</div>
</div>