@using LiftingDome.Infrastructure.Extensions;
@using LiftingDome.Services.Data.Interfaces;
@using static LiftingDome.Common.EntityValidationConstants.SaleDate;
@model LiftingDome.Web.ViewModels.Workout.AllWorkoutsViewModel

@inject ICoachService CoachService
@inject IWorkoutService WorkoutService
@{
	bool isUserCoach = await CoachService.CoachExistsByUserIdAsync(this.User.GetId()!);
	bool isCoachOwnerOfWorkout = await CoachService.HasWorkoutWithIdAsync(this.User.GetId()!, Model.Id);
	bool isWorkoutFree = await WorkoutService.IsWorkoutFree(Model.Id);
}
<div class="col-md-4">
	<div class="card mb-3">
		@switch (Model.CategoryName.ToLower())
		{
			case "crossfit":
				<p class="text-center" style="background-color:#bfbfbe; margin:0; padding:5px">@Model.CategoryName</p>
				break;
			case "bodybuilding":
				<p class="text-center text-white" style="background-color:#9f9f9e; margin:0; padding:5px">@Model.CategoryName</p>
				break;
			case "powerlifting":
				<p class="text-center text-white" style="background-color:#6f706f; margin:0; padding:5px">@Model.CategoryName</p>
				break;
			default:
				break;
		}
		<img class="card-img-top" src="@Model.ImageUrl" alt="Workout Image" style="width:100%" height="200" />
			<div class="card-body text-center">
				<h4>@Model.Title</h4>
				<h6>
					Price:
						@if (Model.Price == 0)
					    {
							<b style="color:red">FREE</b>
						}
						else
						{
							DateTime saleStart = new DateTime(startDateYear, startDateMonth, startDateDay);
							DateTime saleEnd = new DateTime(endDateYear, endDateMonth, endDateDay);
							if (this.User.Identity?.IsAuthenticated ?? false && (saleStart <= DateTime.Now && DateTime.Now <= saleEnd))
							{
								<b style="color:red"><del style="color:black">@($"{Model.Price:f2}") BGN</del> FREE</b>
							}
							else
							{
								<b style="color:red">@($"{Model.Price:f2}") BGN</b>
							}
						}
				</h6>

				@if (isCoachOwnerOfWorkout)
				{
					<b>Created By: <span style="color:red">You</span></b>
				}
				else
				{
					<b>Created By: @Model.CreatorName.Remove(Model.CreatorName.IndexOf("@"))</b>
				}

				@if (Model.HasBeenEdited)
				{
					<p>(Edited On: @Model.CreatedOn)</p>
				}
				else
				{
					<p>(Created On: @Model.CreatedOn)</p>
				}

				@if (isWorkoutFree || (this.User.Identity?.IsAuthenticated ?? false))
				{
				<a asp-controller="Workout" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark" style="margin-top:5px">Details</a>
					@if (isUserCoach && isCoachOwnerOfWorkout)
					{
					<a asp-controller="Workout" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark" style="margin-top:5px">Edit</a>
					<a asp-controller="Workout" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" style="margin-top:5px">Delete</a>
					}
					
					@if (!Model.IsOwned && !isUserCoach && (this.User.Identity?.IsAuthenticated ?? false))
					{
						<form class="input-group-sm" asp-controller="Workout" asp-action="Get" asp-route-id="@Model.Id" method="post">
						<input class="btn btn-danger" style="margin-top:5px" type="submit" value="Get" />
						</form>
					}
					else 
					{
						@if (Model.IsOwned && !isUserCoach && (this.User.Identity?.IsAuthenticated ?? false))
						{
							<form asp-controller="Workout" asp-action="Remove" asp-route-id="@Model.Id" method="post">
								<input class="btn btn-danger" style="margin-top:5px" type="submit" value="Remove" />
							</form>
						}
					}
				}
			</div>

	</div>
</div>